# Airbnb - Initial Data Analysis (Boston & Seattle)

This initial analysis has been performed to see what variables we have in each of the datasets provided from Airbnb in order to create some useful bussiness related questions. The raw data will be read in and examined using basic statistical analysis and visuisations. Some basic processing will be done on the data but it will mainly be left in it's raw state as it will be processed fully later prior to performing a full analysis.

## 1. Imports

In [1]:
import pandas as pd
import numpy as np

## 2. Functions

In [ ]:
# No functions have been used in this intial data analysis file

## 3. Basic Setup (Read data, create global variables etc.)

In [7]:
# Read in the .csv files for Seattle 
Seattle_Cal = pd.read_csv('Data/Seattle/calendar.csv')
Seattle_List = pd.read_csv('Data/Seattle/listings.csv')
Seattle_Rev = pd.read_csv('Data/Seattle/reviews.csv')

# Read in the .csv files for Boston 
Boston_Cal = pd.read_csv('Data/Boston/calendar.csv')
Boston_List = pd.read_csv('Data/Boston/listings.csv')
Boston_Rev = pd.read_csv('Data/Boston/reviews.csv')

## 4. Main Analysis

### Seattle

First I'll take a quick look at each of the files to see all of the different variables in they have any in common for this I will look at the top 5 rows. Next I'll perform some basic analysis to gain a better understanding of some of the more useful variables including checking for NaN's, seeing the possible ranges and producing some basic stats.

#### Calender.csv

In [17]:
# Look at the top 5 rows of the calender.csv
Seattle_Cal.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [16]:
# Check the proption of NaN's in the price column
pd.isnull(Seattle_Cal).sum()/len(Seattle_Cal)*100

listing_id     0.000000
date           0.000000
available      0.000000
price         32.938998
dtype: float64

In [24]:
# Count the number of different ID's
len(Seattle_Cal.listing_id.unique())

3818

In [32]:
# Find the range of time the data has been taken over
print(pd.to_datetime(Seattle_Cal['date']).min())
print(pd.to_datetime(Seattle_Cal['date']).max())

2016-01-04 00:00:00
2017-01-02 00:00:00

In [78]:
# Check the number of days data has been collected for
len(Seattle_Cal.date.unique())

365

In [73]:
# Check if all days are counted for all listings
(Seattle_Cal.groupby(['listing_id']).count() == 365)['date'].value_counts()

True    3818
Name: date, dtype: int64

In [80]:
# Check if the number of 'f' values corresponds to missing prices
Seattle_Cal['available'].value_counts()/len(Seattle_Cal)*100

t    67.061002
f    32.938998
Name: available, dtype: float64

#### Listings.csv

In [8]:
Seattle_List.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [82]:
# List all the columns that are cut off in the view above to look for useful variables
Seattle_List.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [37]:
# See if the number of ID's is identical to the calender.csv
len(Seattle_List.id.unique())

3818

In [53]:
# Check if each ID is only listed once
Seattle_List.shape

(3818, 92)

In [83]:
# Check each of the columns for NaN's and show the top one's
data = pd.isnull(Seattle_List).sum()/len(Seattle_List)*100
data.sort_values(ascending=False).head(30)

license                        100.000000
square_feet                     97.459403
monthly_price                   60.267156
security_deposit                51.126244
weekly_price                    47.380828
notes                           42.063908
neighborhood_overview           27.029859
cleaning_fee                    26.977475
transit                         24.463070
host_about                      22.498690
host_acceptance_rate            20.246202
review_scores_accuracy          17.234154
review_scores_checkin           17.234154
review_scores_value             17.181771
review_scores_location          17.155579
review_scores_cleanliness       17.103195
review_scores_communication     17.050812
review_scores_rating            16.946045
reviews_per_month               16.422211
first_review                    16.422211
last_review                     16.422211
space                           14.903091
host_response_time              13.698271
host_response_rate              13.698271
neighbourhood                   10.895757
xl_picture_url                   8.381351
thumbnail_url                    8.381351
medium_url                       8.381351
host_neighbourhood               7.857517
summary                          4.635935
dtype: float64

#### Reviews.csv

In [34]:
Seattle_Rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [106]:
# See if the number of ID's is identical to the other two .csv files
len(Seattle_Rev.listing_id.unique())

3191

In [56]:
# Check the range of dates in the reviews
print(pd.to_datetime(Seattle_Rev['date']).min())
print(pd.to_datetime(Seattle_Rev['date']).max())

2009-06-07 00:00:00
2016-01-03 00:00:00

In [57]:
# Check for NaN's
pd.isnull(Seattle_Rev).sum()/len(Seattle_Rev)*100

listing_id       0.000000
id               0.000000
date             0.000000
reviewer_id      0.000000
reviewer_name    0.000000
comments         0.021214
dtype: float64

Some key findings that will help decide what bussiness questions can be addressed:
- It looks like all files share a Listing ID but the Reviews.csv has some missing (potentially as some places don't have any reviews)
- The Calender & Reviews files both have muliple entries
- Prices in Calender.csv has an input for everyday throughout 2016 but are contingent of the flat being available
- The listings.csv contains the bulk of information on each Airbnb listing but only contians one entry per listing
- Some columns in the Listings file have alot of missing data (property size, monthly cost, deposit etc.)
- In the reviews.csv dates much further back than the calender files and has very little missing data

### Boston

For the Boston files I'm going to try to do identical analysis as I intend the bussiness questions I pose throughout this project to span both markets. This means that the data should be as similar as possible and may cause issues if they are not shown to be closely aligned.

#### Calender.csv

In [84]:
# Look at the top 5 rows of the calender.csv
Boston_Cal.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [118]:
Boston_Cal[Boston_Cal['listing_id'] == 3075044]

     listing_id        date available   price
365     3075044  2017-08-22         t  $65.00
366     3075044  2017-08-21         t  $65.00
367     3075044  2017-08-20         t  $65.00
368     3075044  2017-08-19         t  $75.00
369     3075044  2017-08-18         t  $75.00
370     3075044  2017-08-17         t  $65.00
371     3075044  2017-08-16         t  $65.00
372     3075044  2017-08-15         t  $65.00
373     3075044  2017-08-14         t  $65.00
374     3075044  2017-08-13         t  $65.00
375     3075044  2017-08-12         t  $75.00
376     3075044  2017-08-11         t  $75.00
377     3075044  2017-08-10         t  $65.00
378     3075044  2017-08-09         t  $65.00
379     3075044  2017-08-08         t  $65.00
380     3075044  2017-08-07         t  $65.00
381     3075044  2017-08-06         t  $65.00
382     3075044  2017-08-05         t  $75.00
383     3075044  2017-08-04         t  $75.00
384     3075044  2017-08-03         t  $65.00
385     3075044  2017-08-02         t  $65.00
386     3075044  2017-08-01         t  $65.00
387     3075044  2017-07-31         t  $65.00
388     3075044  2017-07-30         t  $65.00
389     3075044  2017-07-29         t  $75.00
390     3075044  2017-07-28         t  $75.00
391     3075044  2017-07-27         t  $65.00
392     3075044  2017-07-26         t  $65.00
393     3075044  2017-07-25         t  $65.00
394     3075044  2017-07-24         t  $65.00
..          ...         ...       ...     ...
700     3075044  2016-09-20         t  $65.00
701     3075044  2016-09-19         t  $65.00
702     3075044  2016-09-18         t  $65.00
703     3075044  2016-09-17         t  $75.00
704     3075044  2016-09-16         t  $75.00
705     3075044  2016-09-15         t  $65.00
706     3075044  2016-09-14         t  $65.00
707     3075044  2016-09-13         t  $65.00
708     3075044  2016-09-12         t  $65.00
709     3075044  2016-09-11         t  $65.00
710     3075044  2016-09-10         f     NaN
711     3075044  2017-03-21         t  $65.00
712     3075044  2017-03-20         t  $65.00
713     3075044  2017-03-19         t  $65.00
714     3075044  2017-03-18         t  $75.00
715     3075044  2017-03-17         t  $75.00
716     3075044  2017-03-16         t  $65.00
717     3075044  2017-03-15         t  $65.00
718     3075044  2017-03-14         t  $65.00
719     3075044  2017-03-13         t  $65.00
720     3075044  2017-03-12         t  $65.00
721     3075044  2017-03-11         t  $75.00
722     3075044  2017-03-10         t  $75.00
723     3075044  2017-03-09         t  $65.00
724     3075044  2017-03-08         t  $65.00
725     3075044  2017-03-07         t  $65.00
726     3075044  2016-09-09         t  $75.00
727     3075044  2016-09-08         f     NaN
728     3075044  2016-09-07         f     NaN
729     3075044  2016-09-06         f     NaN

[365 rows x 4 columns]

In [86]:
# Check the proption of NaN's in the price column
pd.isnull(Boston_Cal).sum()/len(Boston_Cal)*100

listing_id     0.000000
date           0.000000
available      0.000000
price         50.871578
dtype: float64

In [98]:
# Count the number of different ID's
len(Boston_Cal.listing_id.unique())

3585

In [88]:
# Find the range of time the data has been taken over
print(pd.to_datetime(Boston_Cal['date']).min())
print(pd.to_datetime(Boston_Cal['date']).max())

2016-09-06 00:00:00
2017-09-05 00:00:00

In [89]:
# Check the number of days data has been collected for
len(Boston_Cal.date.unique())

365

In [97]:
# Check if all days are counted for all listings
(Boston_Cal.groupby(['listing_id']).count() == 365)['date'].value_counts()

True     3584
False       1
Name: date, dtype: int64

In [92]:
# Check if the number of 'f' values corresponds to missing prices
Boston_Cal['available'].value_counts()/len(Boston_Cal)*100

f    50.871578
t    49.128422
Name: available, dtype: float64

#### Listings.csv

In [93]:
Boston_List.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [99]:
# List all the columns that are cut off in the view above to look for useful variables
Boston_List.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [114]:
# Check the new columns in Boston_List
for x in Boston_List.columns:
    if x not in Seattle_List.columns:
        print(x)

access
interaction
house_rules

In [100]:
# See if the number of ID's is identical to the calender.csv
len(Boston_List.id.unique())

3585

In [101]:
# Check if each ID is only listed once
Boston_List.shape

(3585, 95)

In [115]:
# Check each of the columns for NaN's and show the top one's
data = pd.isnull(Boston_List).sum()/len(Boston_List)*100
data.sort_values(ascending=False).head(20)

neighbourhood_group_cleansed    100.000000
jurisdiction_names              100.000000
license                         100.000000
has_availability                100.000000
square_feet                      98.437936
monthly_price                    75.230126
weekly_price                     75.118550
security_deposit                 62.566248
notes                            55.090656
interaction                      43.347280
access                           41.534170
neighborhood_overview            39.470014
host_about                       36.513250
transit                          35.983264
house_rules                      33.249651
cleaning_fee                     30.878661
space                            29.483961
review_scores_accuracy           22.956764
review_scores_location           22.928870
review_scores_value              22.900976
dtype: float64

#### Reviews.csv

In [104]:
Boston_Rev.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [108]:
# See if the number of ID's is identical to the other two .csv files
len(Boston_Rev.listing_id.unique())

2829

In [109]:
# Check the range of dates in the reviews
print(pd.to_datetime(Boston_Rev['date']).min())
print(pd.to_datetime(Boston_Rev['date']).max())

2009-03-21 00:00:00
2016-09-06 00:00:00

In [110]:
# Check for NaN's
pd.isnull(Boston_Rev).sum()/len(Boston_Rev)*100

listing_id       0.000000
id               0.000000
date             0.000000
reviewer_id      0.000000
reviewer_name    0.000000
comments         0.077627
dtype: float64

Some of the differences found with the boston dataset:
- The time period of the calender.csv is different meaning the two datasets only have an overlapping period of 3 months
- More data is also missing from the prices column in the calender.csv
- The Listings.csv has 3 extra columns to the Seattle data they all seem to be unimportant

## 5. Proposed Bussiness Questions

Given the insites gained above one of the more important insights that could be gained for Airbnb as a bussiness would be to look at the prices of properties and if they are changing. This could be done and compaired in each city even though they have limited overlap.

The five initial buissness questions are as follows:

- Which market is most expensive Seattle or Boston?
- Are their seasonal trends in each of the markets?
- Is there any correlation between the setiment of the reviews in each city and the Airbnb prices?